@import url("https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Gugi|Pacifico|Viaoda+Libre&display=swap");

:root {
  --light-gray: #197aa0a1;
  --primary-color: #45ccb8;
  --border: #2b303218;
  --text-color: #ff686b;
  --gugi: "gugi", cursive;
  --anton: "Anton", sans-serif;
  --pacifico: "Pacifico", cursive;
}

body {
  background-color: black;
  /* height: 18vh; */
}

.s1 {
  height: 100vh;
}

.s2 {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background: black;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
}
.section-title h3 {
  font-weight: 700;
  color: #ff8c05;
  margin-top: 0;
}

.section-titles h3 {
  font-weight: 700;
  color: #ff8c05;
  margin-top: 680px;
}
.section-title.section-title-left {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 110%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
}

ul {
  list-style: none;
  float: right;
  font-family: var(--anton);
  margin-right: 10px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: 0, 3s ease;
  border-radius: 10px;
}

ul li a:hover {
  color: grey;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

ul li.active a {
  background-color: var(--text-color);
  color: white;
}

.branding {
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}

.text1 {
  padding: 5px;
  text-align: left;
  margin-top: 150px;
  font-size: 24px;
  letter-spacing: 3px;
  margin-left: 300px;
}

.text2 {
  padding: 5px;
  text-align: left;
  margin-top: 5px;
  font-size: 24px;
  letter-spacing: 3px;
  margin-left: 320px;
  margin-bottom: 25px;
}

.diff-color {
  color: #ff686b;
}

.btn {
  font-family: var(--anton);
  margin-left: 325px;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0, 3s ease;
  border-radius: 10px;
  margin-top: 100px;
}

.btn:hover {
  color: grey;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.image1 {
  width: 390px;
  float: right;
  margin-right: 60px;
  margin-bottom: 25px;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 6px;
    margin-bottom: -40px;
  }
}

header {
  height: 18vh;
}

.container {
  width: 100%;
  height: auto;
}

.home-intro .intro-content {
  position: relative;
}
.home-intro .intro-content .intro-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.home-intro .intro-content .intro-caption span {
  font-size: 26px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 550px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 35px;
  color: white;
}
.home-intro .intro-content .intro-caption h2 {
  font-size: 70px;
  font-weight: 900;
  background: -webkit-linear-gradient(right, #d61a5e, #ff8c05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 87px;
  margin-left: 35px;
}
.home-intro .intro-content .intro-image {
  filter: drop-shadow(-3px 17px 8px rgba(0, 0, 0, 0.3));
}
.home-intro .intro-content .intro-image img {
  width: 390px;
  float: right;
  margin-right: 35px;
  margin-top: 120px;
}

.button {
  background: #ff8c05;
  background: -moz-linear-gradient(-45deg, #ff8c05 0%, #d61a5e 100%);
  background: -webkit-linear-gradient(-45deg, #ff8c05 0%, #d61a5e 100%);
  background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 100%);
  color: #fff;
  border: 0;
  margin-top: 50px;
  margin-left: 35px;
  border-radius: 2px;
  padding: 13px 20px;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 99;
}
.button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: titles 0.4s cubic-bezier(0.25, 0.61, 1, 0.47) forwards;
  transform: translateY(100%);
  animation-delay: 0.1s;
  z-index: -1000;
}

@keyframes buttons {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.about .box-content {
  padding: 0;
}
.about .box-content p {
  margin: 0;
  color: white;
}
.about .content-left {
  padding: 40px;
}
.about .content-left .content h2 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 60px;
  color: white;
}

.image {
  width: 390px;
  float: right;
  margin-right: 25px;
  margin-bottom: 15px;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px;
}

.grid-item {
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img {
  width: 340px;
}

.grid-bucket {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto;
  background-color: black;
  padding: 10px;
  align-items: center;
}

.grid-option {
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 20px;
  text-align: center;
}

.grid-option img {
  width: 320px;
}

.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: 0.5s ease;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px var(--text-color);
}

textarea .contact-form-text {
  resize: none;
  height: 120px;
  font-family: var(--anton);
}

.contact-form-btn {
  float: right;
  background: #ff8c05;
  background: -moz-linear-gradient(-45deg, #ff8c05 0%, #d61a5e 100%);
  background: -webkit-linear-gradient(-45deg, #ff8c05 0%, #d61a5e 100%);
  background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 100%);
  color: #fff;
  border: 0;
  margin-top: 50px;
  margin-left: 35px;
  border-radius: 2px;
  padding: 13px 20px;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 99;
}

.contact-form-btn:hover {
  background: var(--text-color);
}

.heading-title {
  text-align: center;
  color: #ff8c05;
}

@media (max-width: 900px) {
  .logo {
    width: 100%;
    text-align: center;
    padding: 4% 4%;
  }
}

footer {
  margin-top: 25px;
  text-align: center;
}

@media (min-width: 1281px) {
  body {
    width: 100%;
  }

  img {
    width: 320px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    width: 100%;
  }

  img {
    width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
  }

  img {
    width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    width: 100%;
  }
  img {
    width: 250px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    width: 100%;
  }
  img {
    width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    width: 100%;
  }
  img {
    width: 250px;
  }
}
