<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/index.css" />

    <title>Challenge</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Resume</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="branding">
        <i class="fab fa-angrycreative fa-4x"></i>
      </div>

      <div class="home-intro segments">
        <div class="container">
          <div class="intro-content box-content">
            <div class="row justify-content-center">
             <div class="intro-caption">
                  <span>I am AngryCreative</span>
                  <h2>Junior Web Developer</h2>
                  <a href="#" class="button">Contact</a>
                </div>
              <div class="intro-image">
                  <img src="../assets/intro-image.png" alt="" />
                </div>
             </div>
          </div>
        </div>
      </div>
    </header>

    <div id="about" class="about segments">
      <div class="container">
        <div class="box-content">
          <div class="row">
            <div class="content-left">
                <div class="section-title section-title-left">
                  <h3>About Me</h3>
                </div>
                
                <img class="image" src="../assets/about.png" alt="">
                
                <div class="content">
                  <h2>I am a Junior Web Developer</h2>
                  
                  <p>Hello, my name is Wakeel. I'm a front-end engineer with experience in
                    Python, JavaScript, Node JS, MySQL, MongoDB, and React.</p>

                    <p>
                      My dream is to one day start my own business and become an
                      entrepreneur (currently working on some ideas).
                    </p>

                    <p>
                      I'm constantly learning new things. those things include
                      gaining more experience with MongoDB, React and Node JS
                    </p>
                </div>
                <a href="#" class="button"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a>
              </div>
               <div class="content-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="portfolio" class="portfolio segments">
      <div class="container">
        <div class="box-content">
          <div class="section-title">
            <h3>My Portfolio</h3>
          </div>
          <div class="portfolio-filter-menu">
            <ul>
              <li data-filter="all" class="active">
                <span>See All</span>
              </li>
              <li data-filter="1">
                <span>House Plant</span>
              </li>
              <li data-filter="2">
                <span>Flowers</span>
              </li>
              <li data-filter="3">
                <span>Photography</span>
              </li>
            </ul>
          </div>

          <div class="row no-gutters filtr-container">
           
              <div class="content-image">
                <a href="images/portfolio1.jpg" class="portfolio-popup">
                  <img src="images/portfolio1.jpg" alt="" />
                  <div class="image-overlay"></div>
                  <div class="portfolio-caption">
                    <div class="title">
                      <h4>Classic Minimalist Door</h4>
                    </div>
                    <div class="subtitle">
                      <span>Graphic Design</span>
                    </div>
                  </div>
                </a>
              </div>
            
            
              <div class="content-image">
                <a href="images/portfolio2.jpg" class="portfolio-popup">
                  <img src="images/portfolio2.jpg" alt="" />
                  <div class="image-overlay"></div>
                  <div class="portfolio-caption">
                    <div class="title">
                      <h4>Green Succulent Plants</h4>
                    </div>
                    <div class="subtitle">
                      <span>Nature Plant</span>
                    </div>
                  </div>
                </a>
              </div>
            
            
              <div class="content-image">
                <a href="images/portfolio3.jpg" class="portfolio-popup">
                  <img src="images/portfolio3.jpg" alt="" />
                  <div class="image-overlay"></div>
                  <div class="portfolio-caption">
                    <div class="title">
                      <h4>Yellow Rose Pale Plant</h4>
                    </div>
                    <div class="subtitle">
                      <span>Flower Plant</span>
                    </div>
                  </div>
                </a>
              </div>
            
            
              <div class="content-image">
                <a href="images/portfolio4.jpg" class="portfolio-popup">
                  <img src="images/portfolio4.jpg" alt="" />
                  <div class="image-overlay"></div>
                  <div class="portfolio-caption">
                    <div class="title">
                      <h4>Succulent Plant in Pot</h4>
                    </div>
                    <div class="subtitle">
                      <span>Plant House</span>
                    </div>
                  </div>
                </a>
              </div>
            
            
              <div class="content-image">
                <a href="images/portfolio5.jpg" class="portfolio-popup">
                  <img src="images/portfolio5.jpg" alt="" />
                  <div class="image-overlay"></div>
                  <div class="portfolio-caption">
                    <div class="title">
                      <h4>Photo of Green Cactus</h4>
                    </div>
                    <div class="subtitle">
                      <span>Plant House</span>
                    </div>
                  </div>
                </a>
              </div>
            
            
              <div class="content-image">
                <a href="images/portfolio6.jpg" class="portfolio-popup">
                  <img src="images/portfolio6.jpg" alt="" />
                  <div class="image-overlay"></div>
                  <div class="portfolio-caption">
                    <div class="title">
                      <h4>Two Feet of Two Ferns</h4>
                    </div>
                    <div class="subtitle">
                      <span>Graphic Design</span>
                    </div>
                  </div>
                </a>
              </div>
            
          </div>
        </div>
      </div>
    </div>

    
  </body>
</html>
